html{
    font-size: 16px;
    background-color: rgb(238, 246, 243)
}

*{
    font-family: 'Bad Script', cursive;  
}

h2{
    color: teal;
    font-size: 30px; 
}

li{
    color: darkcyan;
    font-size: 25px;
}

a{
    color: rgb(2, 68, 25);
    font-size: 20px;
}


img {
    max-width: 100%;
    height: auto; 
}
